# This file provides an overview of code owners in this repository.

# These are the default owners for the whole content of this repository. The default owners are automatically added as reviewers when you open a pull request.

* @trehman-gsma